@import "./city-project.scss";
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

/* citylist.js */
.tourlist {
  background-color: #ffb499;
  background-color: #ffb499;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23ff4500' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  
  position: relative;
  
  // width: 70vw;
  // max-width: 1170px;

  // margin: 0 auto;
  padding: 2rem 0;

  &:before{
    content:"";
    position: absolute;

    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    
    z-index: 1;
    
    background-color: white;
    opacity: 0.85;
    
    width: 90vw;
    height: 98%;
    margin: auto;
    
  }
  
}

/* city.js */
.tour {
  position: relative;
  z-index: 2;


  width: 70vw;
  max-width: 1170px;
  margin: 2rem auto;

  background: $clr-grey;
  // margin: 2rem 0;

  img {
    width: 100%;
    display: block;
    min-height: 13rem;
  }
}

@media screen and (min-width: 768px) {
  .tour {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
  }
}

.img-container {
  position: relative;
  &:hover .close-btn {
    opacity: 1;
  }
}

.close-btn {
  position: absolute;
  display: block;
  top: 5%;
  right: 5%;
  color: crimson;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  font-size: 2rem;
  cursor: pointer;
}

.tour-info {
  padding: 1rem 0.5rem;
  h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: $clr-green;
    letter-spacing: 1px;
    font-family: 'Limelight', cursive;
  }
  h4 {
    font-family: 'Limelight', cursive;
    text-transform: capitalize;
    margin: 0.2rem 0 0.6rem 0;
  }
  h5 {
    text-transform: capitalize;
    span {
      color: $clr-green;
      margin: 0.5rem;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}
